body{margin:0px; padding:0px; font-size:12px; font-family:'微软雅黑';}
ul,ol,li{margin:0px; padding:0px; list-style:none;}
h1,h2,h3,h4,h5,p,span{margin:0px; padding:0px;}
a{text-decoration:none;}
img{border:0px;}

.guonr{width: 984px;height: 442px;float:left; margin-left:300px;}
.guo1 p{width:60px;height: 15px;font-size: 9px;padding-top: 8px;color: #9a9a9a;float: left;}
.guo1{width: 984px;height: 35px;padding-top: 13px;border-bottom: 1px solid #e1e5e8;border-top: 2px solid #979797;}
.guo1 h3{width: 45px;height: 32px;font-size: 18px;font-weight: 600;color: #001363;float: left;}
.guo1 span{height: 16px;display: block;padding: 0px 7px 0;border-right: 1px solid #666;color: #345b9c;margin-top: 5px;float: left;}
.guo1 sapn:last-child{border-right:0px;}
.more{margin-left: 10px;width: 74px;height: 17px;color: #9a9a9a;float: left;padding-top: 5px;}
.more a{display: block;width: 30px;height: 22px;float: left;}
.guonr1{width:424px;height:395px;float: left; margin-left:-248px;}
.guonr2{width:274px;height:395px;float: left;margin-left:60px;}
.wu{width: 286px;height: 346px;}
.beijingx{width: 424px;height: 220px;float:left;}
